@media (min-width: 1200px) {
  .container {
	max-width: 970px;
  }
}

body{
  background-image: url('Assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

#carouselCharacter {
  display: flex;
  justify-content: center;
}

.carousel-inner img {
  max-width: 200px; 
  height: auto;
  margin: auto; 
}

#yourName {
  max-width: 300px;
  margin: 0 auto;
}

#buttonStart {
  margin: 0 auto;
}