@media (min-width: 1200px) {
  /* Add your CSS rules here */
  .container {
    max-width: 970px;
    }
}

body{
    background-image: url('Assets/Background2.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

#yourName {
    max-width: 300px;
    margin: 0 auto;
}
#carouselCharacter {
    display: flex;
    justify-content: center;
}

.carousel-inner img {
    max-width: 200px; 
    max-height: 300px;
    height: auto;
    margin: auto; 
}
